
target/classes/com/edu/uptc/sfII/peliculas/controller/ControllerPeliculas.class
target/classes/com/edu/uptc/sfII/peliculas/controller/ControllerPeliculas.class
target/classes/com/edu/uptc/sfII/peliculas/PeliculasApplication.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/peliculas-0.0.1-SNAPSHOT.jar
target/peliculas-0.0.1-SNAPSHOT.jar.original
target/surefire-reports/com.edu.uptc.sfII.peliculas.PeliculasApplicationTests.txt
target/surefire-reports/TEST-com.edu.uptc.sfII.peliculas.PeliculasApplicationTests.xml
target/test-classes/com/edu/uptc/sfII/peliculas/PeliculasApplicationTests.class
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/com/edu/uptc/sfII/peliculas/PeliculasApplication.class
target/classes/com/edu/uptc/sfII/peliculas/controller/ControllerPeliculas.class
target/test-classes/com/edu/uptc/sfII/peliculas/PeliculasApplicationTests.class
target/classes/com/edu/uptc/sfII/peliculas/controller/ControllerPeliculas.class
