* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.navbar {
    background-color: #275BAE;
    padding: 15px;
}
.card:hover{
    border-color: rgba(39, 91, 174, 1);
    transform: scale(1.02);
    transition: transform .5s;
}
.card{
     transition: transform .3s;
}
#idioma{
   text-transform: capitalize;
}

select {
   text-transform: capitalize;
}
.nav-link {
    font-family: "Helvetica";
    margin-right: 1.3rem;
    font-size: 1.12rem;
}

.form-content {
    padding: 1% 20%;
    font-family: Roboto;
}

.form-label {
    font-size: 20px;
}

.form-control {
    background-color: rgba(10,61,90,0.14);
}

.form-control:focus {
    background-color: rgba(10,61,90,0.1);
    border-color: #275BAE;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(31, 94, 174, 0.6);
}

#a {
    background-color: blue;
}
.peliculas-destacadas .card{
    height: 100%;
}
.peliculas-destacadas .card-img-top{
    height: 450px;
    object-fit: cover;
}
.peliculas-destacadas .card-title{
    text-align: center
}
.peliculas-destacadas .card-genero{
    font-size: 14px;
    text-align: center
}
.peliculas-destacadas .card-categoria{
    font-size: 9px;
    text-align: center
}

/*Para el drag and drop*/
.drop-zone {
  max-width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
